{{ define "admin/index.html" }}<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="/public/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="/public/admin/css/base.css">
    <link rel="stylesheet" href="/public/admin/css/index.css">
</head>
<body id="app" class="load">
    <header class="header"></header>
    <main>
        <view class="sidebar"></view>
        <view class="container"></view>
    </main>
    <footer></footer>
    <img class='load' src='/public/admin/img/load.gif'>
</body>
</html>
<script type="text/javascript" src="/public/jquery/jquery.min-3.2.1.js"></script>
<script type="text/javascript" src="/public/admin/js/app.js"></script>
<script type="module" src="/public/admin/js/index.js"></script>
{{end}}