{{ define "index/chptcha.html" }}<style>
	.captcha-mobile {
	    position: absolute;
	    bottom: 0;
	    width: 300px;
	    height: 200px;
	    border-radius: 2px;
	    background: #f2ece1;
	    border: 1px solid #e5e5e5;
	    -webkit-user-select: none;
	    user-select: none;
	}
	.captcha-img {
	    position: relative;
	    top: 0;
	    margin: 5px auto;
	    width: 95%;
	    height: 120px;
	    z-index: 1;
	    border-radius: 5px;
	}
	.captcha-img img {
	    width: 100%;
	    height: auto;
	}
	.action-icon {
	    margin-top: 10px;
	    height: 28px;
	    padding: 0 10px;
	}
	.action-icon>a {
	    float: right;
	    color: #999;
	}
	.drag {
		position: relative;
	    border: 1px solid #c3c3c3;
	    border-radius: 24px;
	    background: #ece4dd;
	    box-shadow: 0 1px 1px rgb(12 10 10 / 20%) inset;
	}
	.explain {
		font-size: 12px;
	    color: #486c80;
	    line-height: 28px;
	    margin: 0;
	    text-align: center;
	    padding-right: 22px;
	}
	.bt-slider {
	    position: absolute;
	    top: -3px;
	    left: 0;
	    width: 35px;
	    height: 35px;
	    border-radius: 100%;
	    border: 1px solid #7c7c7c;
	    cursor: pointer;
	    background: linear-gradient(180deg, hsl(0,0%,78%) 0%, hsl(0,0%,90%) 47%, hsl(0,0%,78%) 53%, hsl(0,0%,70%)100%);;
	}

	.bt-slider:before {
		margin-right: 2px;
	    content: "";
	    width: 10px;
	    height: 10px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    background: #00a3ee;
	    transform: translateX(-50%) translateY(-50%);
	}
	.tc-jpp>img {
	    position: absolute;
	    top: 64px;
	    left: 0px;
	    z-index: 2;
	}
</style>
<div class="captcha-mobile">
	<div class="tc-jpp">
		<img alt="">
	</div>
	<div class="captcha-img">
		<img alt="">
	</div>
	<div class="action-icon">
		<a href="javascript:;"><i class="glyphicon glyphicon-repeat"></i></a>
	</div>

	<div class="drag">
		<p class="explain">按住左边滑块，拖动完成上方拼图</p>
		<div class="bt-slider"></div>
	</div>
</div>

<script type="text/javascript">
	var ChptchaSlider = new slider( ".bt-slider");
	ChptchaSlider.init();
	$(".action-icon>a").on("click", function() {
		$.get("http://admin.mmiao.com/captcha", function( e) {
			r = Math.random();
			$(".captcha-img>img").attr("src", "/public/img/captcha.jpg?"+ r)
			$(".tc-jpp>img").attr("src", "/public/img/hycdn.png?" + r)
			$(".tc-jpp>img").css({"top":e.oy, "left":0})
			$(".bt-slider").css("left", 0)
		})
	})
</script>
{{ end }}