<div class="logo col-4">
	<a href="javascript:;">
		<img src="/public/admin/img/mm-logo.png" alt="">
		<!-- <img src="https://cloudcache.tencent-cloud.com/open_proj/proj_qcloud_v2/tc-console/tea-static-sdknav/src/styles/assets/tencent-cloud.svg" alt=""> -->
	</a>
</div>
<div class="search-box">
	<div></div>
	<div class="search-wrap form-group">
		<input id="" class="" type="search" placeholder="搜索……" data-default="山海逆战" value="" autocomplete="off">
		<i class="ri-search-line"></i>
	</div>
</div>
<div class="header-user">
	<a href="javascript:;">
		<i class="ri-notification-2-fill"></i>
	</a>
	<a href="javascript:;" class="nav-link clear">
		<i class="ri-user-fill"></i>
		<span class="username">admin</span>
		<i class="ri-arrow-down-s-line"></i>
	</a>
	
</div>
<style type="text/css">
	.search-box {
		display: flex;
	    flex: 1 1 600px;
        align-items: center;
	    justify-content: space-between;
	    justify-content: space-around;
	}
	.search-wrap {
	    display: flex;
	    justify-content: flex-end;
	    margin: 0 10px;
	    position: relative;
	    min-width: 180px;
	    min-height: 30px;
	    align-items: center;
	}
	.search-wrap input {
	    height: 30px;
	}
	.search-wrap>i {
	    position: absolute;
	    right: 10px;
	}
	.header-user {
        justify-content: flex-end;
	    flex: 0 0 auto;
	    display: flex;
	    align-items: center;
	    height: 100%;
	}
	.header-user>a {
    padding: 0 10px;
}
a.nav-link.clear>img {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
</style>